* {
  margin: 0;
  padding: 0;
}

 body, a:hover, button:hover {cursor: url(http://cur.cursors-4u.net/food/foo-2/foo102.cur), progress !important;}
/*font-family: 'Zilla Slab', serif; USERS
font-family: 'Crete Round', serif; BODY
font-family: 'Ultra', serif; HEADER*/

body {
  /*background-color: #E8E8E8;*/
  background-image: url("../images/the_brok.png");
  /*background-repeat: no-repeat;*/
  background-position: left top;
  background-attachment: fixed;
  font-family: 'Crete Round', serif;
  min-height: 100%;
}

html{
  height: 100%;
}


a {
  font-family: 'Zilla Slab', serif;
}

.header-wrap {
  background-color: #1D5719;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

header {
  margin: 0 auto;
  width: 80%;
  display: block;
  margin-bottom: 0;
}

.site-nav {
  display: inline-block;
  width: 50%;
  /*text-align: right;*/
  float: right;
/*  vertical-align: bottom;
*/}

#site-title {
  display: inline-block;
  width: 40%;
  color: #CFB63D;
  text-align: left;
  letter-spacing: 1px;
}

#site-title a{
  color: #CFB63D;
  text-decoration: none;
  font-family: 'Ultra', serif;
}

#site-title a:visited{
  color: #CFB63D;
}

#site-title a:hover{
  font-style: italic;
}

nav ul {
  list-style-type: none;
  text-align: right;
}

.nav-item {
  display: inline-block;
  padding: 0 5px;
}

.nav-item a {
  text-decoration: none;
  color: #F6BB3A;
  font-family: 'Zilla Slab'
}

.nav-item a:visited {
  color: #F6BB3A;
}

.nav-item a:hover {
  font-style: italic;
}

.main-container {
  margin-top: 0;
  margin: 0 auto;
  display: block;
  width: 80%;
  background-color: #5C5C5C;
  opacity: .9;
  padding: 80px 0;
  /*position: fixed;*/
  /*top: 60px;*/
  /*left: 50%;*/
  /*transform: translate(-50%, 0);*/
  min-height: 100%;
  z-index: -1;
  /*margin-bottom: 50px;*/
}

#site-title,
.site-nav {
  line-height: 35px;
  margin: 17px 0;
}

.main-container h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
  color: #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
}

.main-page-header {
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
  color: #E8E8E8;
  border-bottom: 3px solid #E8E8E8;
  display: inline-block;
  width: 35%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.new-q-button a {
  text-decoration: none;
  color: #E8E8E8;
  padding: 5px;
  font-size: 18px;
}

.new-q-button a:visited {
  color: #E8E8E8;
}

.new-q-button a:hover {
  font-style: italic;
}

.new-q-button {
  background-color: #39a04a;
  width: 12%;
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
}

.site-footer{
  height: 30px;
  background-color: #1D5719;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer {
  margin: 0 auto;
  padding-top: 10px;
  width: 50%;
}

.site-footer a {
  text-decoration: none;
  color: #F6BB3A;
}

.site-footer a:visited {
  color: #F6BB3A;
}

.site-footer li{
  list-style-type: none;
  display: inline-block;
}

.site-footer a:hover {
  font-style: italic;
}

.left-ft, .right-ft {
  width: 45%;
}

.left-ft {
  float: left;
}

.right-ft {
  float: right;
  text-align: right;
}

.sm-container {
  margin: 0 auto;
  margin-top: 30px;
  /*margin-top: 50px;*/
  width: 500px;
  background-color: #E8E8E8;
  border: 1px dotted black;
}

.sm-container h1{
  color: black;
}

.list-container{
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  height: 100%;
  padding-bottom: 50px;
}



.profile-left{
  display: inline-block;
  width: 45%;
  vertical-align: top;
  text-align: center;
}

.profile-right{
  padding-left: 10px;
  display: inline-block;
  width: 45%;
  vertical-align: top;
  text-align: center;
}

.question-list,
.answer-list {
  padding-bottom: 5px;
  border-bottom: 1px solid #E8E8E8;
}


.question-list a,
 .answer-list a {
  color: #F6BB3A;
  text-decoration: none;
}

.question-list a:visited,
.answer-list a:visited {
  color: #F6BB3A;
}

.question-list a:hover,
.answer-list a:hover {
  font-style: italic;
}
article p span{
  color: white;
}

article p span.score:after {
  content: " points |";
}

article p span.author:before,
.question-lg p span.author:before {
  content: " by ";
}

article p span.author:after {
  content: " | ";
}

article p span.timestamp:after,
.question-lg p span.timestamp:after {
  content: ' hours ago';
}

article p span.answer-count:before,
.article-info p span.comment-count:before {
  content: ' | ';
}

article p span.answer-count:after {
  content: ' answers  ';
}

.question-lg p {
  padding: 10px;
}

.q-data {
  width: 15%;
  margin-right: 5px;
  background-color: #F6BB3A;
  text-align: center;
  display: inline-block;
  float: right;
}

.q-content{
  background-color: #efe792;
  margin: 15px 10px;
}

.q-data a{
  color: black;
  text-decoration: none;
}

.q-data a:visited{
  color: black;
}

.q-data a:hover {
  font-style: italic;
}

.welcome-gif {
  margin: 0 auto;
  padding: 30px;
  width: 500px;
}

.vote-buttons{
  display: inline-block;
  vertical-align: middle;
  width: 5%;
  padding: 5px;
  margin: 0 15px;
  background-color: #e8e8e8;
}

.vote-buttons .shake-container {
  width: 2%;
  text-align: center;
}

.vote-buttons p{
  display: block;
  vertical-align: middle;
  font-family: 'Zilla Slab', serif;
}

.votes{
  background: transparent;
  box-shadow: none;
  border-style: none;
  font-size: 1.5em;
}

.a-votes .vote-buttons .votes{
  font-size: 1em;
}



.up-vote{
  color: green;
}

.down-vote{
  color: red;
  /*margin-right: 3px;*/
}

.article-info, .q-title{
  display: inline-block;
  vertical-align: middle;
  width: 80%;
}







