* {
  margin: 0;
  padding: 0;
}

/*font-family: 'Zilla Slab', serif; USERS
font-family: 'Crete Round', serif; BODY
font-family: 'Ultra', serif; HEADER*/

body {
  /*background-color: #E8E8E8;*/
  background-image: url("../images/the_brok.png");
  /*background-repeat: no-repeat;*/
  background-position: left top;
  background-attachment: fixed;

}

.header-wrap {
  background-color: #1D5719;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

header {
  margin: 0 auto;
  width: 80%;
  display: block;
  margin-bottom: 0;
}

.site-nav {
  display: inline-block;
  width: 50%;
  /*text-align: right;*/
  float: right;
/*  vertical-align: bottom;
*/}

#site-title {
  display: inline-block;
  width: 40%;
  color: #CFB63D;
  text-align: left;
  font-family: 'Ultra', serif;
  letter-spacing: 1px;
}

#site-title a{
  color: #CFB63D;
  text-decoration: none;
}

#site-title a:visited{
  color: #CFB63D;
}

#site-title a:hover{
  font-style: italic;
}

nav ul {
  list-style-type: none;
  text-align: right;
}

.nav-item {
  display: inline-block;
  padding: 0 5px;
}

.nav-item a {
  text-decoration: none;
  color: #F6BB3A;
  font-family: 'Zilla Slab'
}

.nav-item a:visited {
  color: #F6BB3A;
}

.nav-item a:hover {
  font-style: italic;
}

.main-container {
  margin-top: 0;
  margin: 0 auto;
  display: block;
  width: 80%;
  background-color: #5C5C5C;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100vh;
  overflow: auto;
  z-index: -1;
}

#site-title,
.site-nav {
  line-height: 35px;
  margin: 17px 0;
}

.main-container h1{
  margin: 0;
  text-align: center;
  padding-top: 20px;
  color: #E8E8E8;
}

.site-footer{
  height: 30px;
  background-color: #1D5719;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer {
  margin: 0 auto;
  padding-top: 10px;
  width: 50%;
}

.site-footer a {
  text-decoration: none;
  color: #F6BB3A;
}

.site-footer a:visited {
  color: #F6BB3A;
}

.site-footer li{
  list-style-type: none;
  display: inline-block;
}

.site-footer a:hover {
  font-style: italic;
}

.left-ft, .right-ft {
  width: 45%;
}

.left-ft {
  float: left;
}

.right-ft {
  float: right;
  text-align: right;
}

.sm-container {
  margin: 0 auto;
  /*margin-top: 50px;*/
  width: 500px;
  background-color: #E8E8E8;
  border: 1px dotted black;
}

.sm-container h1{
  color: black;
}

.list-container{
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  height: 100%;
  padding-bottom: 500px;
}

.question-list a {
  color: #F6BB3A;
  text-decoration: none;
}

.question-list a:visited {
  color: #F6BB3A;
}

.question-list a:hover {
  font-style: italic;
}
article p span{
  color: white;
}

article p span.score:after {
  content: " points |";
}

article p span.author:before,
.question-lg p span.author:before {
  content: " by ";
}

article p span.author:after {
  content: " | ";
}

article p span.timestamp:after,
.question-lg p span.timestamp:after {
  content: ' hours ago';
}

article p span.answer-count:before {
  content: ' | ';
}

article p span.answer-count:after {
  content: ' answers  ';
}

.question-lg p {
  padding: 10px;
}

.q-data {
  width: 15%;
  margin-right: 5px;
  background-color: #F6BB3A;
  text-align: center;
  display: inline-block;
  float: right;
}

.q-content{
  background-color: #efe792;
  margin: 5px;
}

.q-data a{
  color: black;
  text-decoration: none;
}

.q-data a:visited{
  color: black;
}

.q-data a:hover {
  font-style: italic;
}
/*
.question-lg {
  border-bottom: 2px solid #1D5719;
}*/




