<h1>Register an account with BrokoliOverflow!</h1>
<form action="/users" method="post">
  <input type="text" name="user[name]" placeholder="Full Name"/>
  <input type="text" name="user[username]" placeholder="Username"/>
  <input type="text" name="user[email]" placeholder="Email Address"/>
  <input type="password" name="user[password]" placeholder="Password"/>
  <input type="submit" name"submit">
</form>
