

<br><br><br><br><br><br><br><br><br><br><br>
<a id="dropbox" href="/cool">Answer a question</a>

<div class="hidden_form">
<form id="submitanswer" method="POST" action="/questions/1/answers">
  <textarea id="theanswer" name="content" placeholder="Please write your answer here." rows="20" cols="140">
  </textarea>
  <input id="sendbutton" type="submit" value="Post your answer">

</form>
