<div class="vote-buttons">
    <button class="up-vote votes">&#9650</button>
    <br>
    <button class="down-vote votes">&#9660</button>
    <p class="voteable-score"><%= voteable.score %></p>
</div>
